
body{
  margin: 0;
  background-color: hsl(190.43deg 41.82% 89.22%);
  font-family: 'Courier New', Courier, monospace;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: center; 
  align-items: center;

  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.08);
  z-index: 1000;
}

.nav-left{
  display: flex;
  gap: 32px; 
}

.nav-link{
  text-decoration: none;
  color: #222;
  padding: 18px 4px; 
  position: relative;
  font-size: 14px;
}

.nav-link.active::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;      
  width: 100%;
  height: 2px;
  background: #2f6fcd; 
  border-radius: 2px;
}
.nav-link:hover{
color: #2f6fcd;  
}
.title{
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
   max-width: 1100px;
  width: 75%;
  margin: auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 30px 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,2);
    cursor:pointer;
}

.card .icon{
 background: transparent;
}
.card h5{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  color: #222;

}
.view-btn{
  margin-top: 10%;
  background: transparent;
  border:1.5px solid #2f6fcd;
  color: #2f6fcd;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-family: inherit;
}

.view-btn:hover{
  background-color: hsl(190.43deg 41.82% 89.22%);
}
.card p{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #777;
  margin-top: 6px;

}